core.Microsoft*
core.mongo*
core.python*
env.py
.env
__pycache__/
*.py[cod]
node_modules/
.github/
.vscode
.eslintrc.js

# Python virtual environment ignores
.venv
bin/
include/
lib/
lib64
pyvenv.cfg
