:root {
  --bs-primary: #001f3f;
  --bs-green: #57b894;
}

.content-wrapper {
  padding-top: 4rem;
  max-width: 800px;
}

.logo-text {
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: var(--bs-green);
}

.active {
  font-weight: 500;
}

#hamburger {
  stroke: var(--bs-primary);
}

/* About Page Styles */

#wheelchair-user-svg {
  max-width: 75%;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .collapse-row {
    flex-direction: row !important;
    gap: 2rem;
  }
}

/* Home Page Styles */

/* This css is what allows the inline svg to be responsive */
.scaling-svg-container {
  position: relative;
  height: 0;
  width: 100%;
  padding-top: 66%; /* (svg height / svg width) * width-value; */
}

.scaling-svg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

#desk-node,
#input-node,
#device-node {
  transition: ease;
  transition-duration: 0.2s;
}

#desk-node:hover,
#input-node:hover,
#device-node:hover {
  cursor: pointer;
}

#desk-node,
#device-node {
  r: 7;
}

#desk-node:hover,
#device-node:hover {
  r: 10;
}

#input-node {
  r: 5;
}

#input-node:hover {
  r: 8;
}
