{% extends 'base.html' %} 
{% set active_page = "about" %} 

{% block head %}{{page_title }}{% endblock %} 

{% block content %}


<div class="content-wrapper px-5">
  <section>
    <h1 class="mt-5 text-center">Mission Statement 🌍</h1>
  
    <p class="lead">
      Workability is a global non-profit technology based organization established
      in 2021. The goal set out by Workability is to help all disabled people from
      all around the world to gain access to various forms of employers by
      bridging the gap between employee skill sets and employer needs.
    </p>
  
    <div class="d-flex flex-column collapse-row">
      <div>
        <p class="lead">
          The world is changing every day and at Workability we believe and understand
          the limitations of disabled workers has changed dramatically over recent
          years and we want to encourage this in the employment landscape.
        </p>
        <hr>
        <blockquote class="display-6 text-center">
          True Inclusivity Requires an Accessible Workplace.
        </blockquote>
        <hr>
      </div>
      

      <img
        id="wheelchair-user-svg"
        class="py-4 align-self-center"
        src="{{ url_for('static', filename='assets/wheelchair-user.svg') }}"
        alt="Person in a wheelchair"
      />
    </div>

    <p class="lead">
      Along with this the power of remote working has also enabled many disabled workers equal opportunities to non-disabled employees.
    </p>

    <p class="lead">
      This organization was founded by passionate developers who have first hand experience working with people from all walks of life. We believe having mental/ physical disabilities should not limit a person's ability to contribute to a workplace and should have the same opportunities made available to them as anybody else.
    </p>
  
  </section>
</div>



{% endblock %}
