{% extends 'base.html' %}
{% set active_page = "home" %}

{% block head %}{{ page_title }}{% endblock %}

{% block content %}

<div class="container text-center">
  <h1 class="mt-5">Placeholder title</h1>
  <p class="leading">
    Get recommendations based on your needs to help you be more productive in
    the workplace.
  </p>

  {# Temp data dump for database testing #}
  {% for consideration in considerations_data %}
    <h3>{{ consideration.name }}</h3>
    <p>{{ consideration.desc }}</p>
    <small>{{ consideration.ui_location }}</small>
    {% for provision_category in consideration.provision_categories %}
      <h5>{{ provision_category.name }}</h5>
      <p>{{ provision_category.desc }}</p>
      {% for provision in provision_category.provisions %}
        <strong>{{ provision.name }}</strong>
        <p>{{ provision.desc }}</p>
      {% endfor %}
    {% endfor %}
  {% endfor %}

</div>

{% endblock %}
