{% extends 'base.html' %}
{% set active_page = "home" %}

{% block head %}{{ page_title }}{% endblock %}

{% block content %}

<div class="content-wrapper px-5">
    
    <section class="mt-5">
        {% if employee %}
            <h3><strong>Thank you</strong> {{ employee.first_name }} {{ employee.last_name }}</h3>
            <p>We received your selected provisions:</p>
            <div class="">
            <ul>
                {% for provision in employee.provisions %}
                <li>{{ provision.name }}</li>
                {% endfor %}
            </ul>
            </div>
        {% else %}
            <p>Your selections could not be found/registered - <a href='/'>please select again</a></p>
        {% endif %}
      </section>


{% endblock %}
